.Sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
}

.header {
    display: flex;
    height: 5rem;
    font-weight: bold;
    font-size: 20px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 5%;
}

.header>img{
    width: 3rem;
    height: 3rem;
}

.header>span>span {
    color: var(--pink)
}

.menu {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.menuItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2.5rem;
    margin-left: 2rem;
    position: relative;
    transition: all 300ms ease;
    font-size: 16px;
    border-radius: 0.7rem;
}

.menuItem:hover {
    cursor: pointer;
}

.menuItem.active {
    background: var(--activeItem);
    margin-left: 0;
}

.menuItem.active::before {
    content: '';
    width: 8px;
    height: 100%;
    background: var(--pink);
    margin-right: calc(1rem - 8px);
}

.menu .menuItem:last-child {
    position: absolute;
    width: 100%;
    bottom: 2.5rem;
}

.bars {
    display: none;
}

@media screen and (max-width: 1200px) {
    .menuItem>span{
        display: none;
    }

    .header {
        display: none;
    }

    .bars  {
        display: none;
    } 
}

@media screen and (max-width: 768px) {
    .Sidebar {
        position: fixed;
        z-index: 9;
        background: #ffe0e0 !important;    
        width: 55%;
        height: 100%;
        padding-right: 1rem;
    }

    .menuItem>span {
        display: block;
    }

    .header {
        display: flex;
    }

    .menu .menuItem:last-child{
        position: relative;
        margin-top: 2rem;
    }

    .bars{
        display: flex;
        position: fixed;
        top: 2rem;
        left:60%;
        background:#ffe0e0;
        padding:10px;
        border-radius: 10px;
        z-index: 9;
    }
}